@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <hr/>
<h2 style="color: red">Hello World!, I am Cong Son</h2>
    <hr/>
    <ur>
        @for (int i = 0; i <= 5; i++)
        {
            <li>Item @i</li>
        }
    </ur>
    <hr/>
    @{
        int h = DateTime.Now.Hour;
    }
    @if (h < 12)
    {
        <h4> Good morning! (@h) </h4>
    }
    else
    {
        <h4> Good Afternoon! (@h) </h4>
    }
</div>
